[submodule "ShojiWM"]
	path = ShojiWM
	url = https://github.com/sophietheopossum/ShojiWM
[submodule "shoji-bar-2"]
	path = shoji-bar-2
	url = https://github.com/sophietheopossum/shoji-bar-2
[submodule "minka-shell"]
	path = minka-shell
	url = git@github.com:sophietheopossum/minka-shell.git
