[submodule "ShojiWM"]
	path = ShojiWM
	url = https://github.com/sophietheopossum/ShojiWM
[submodule "shoji-bar-2"]
	path = shoji-bar-2
	url = https://github.com/sophietheopossum/shoji-bar-2
[submodule "MinkaShell"]
	path = MinkaShell
	url = git@github.com:sophietheopossum/MinkaShell.git
[submodule "MinkaIPC"]
	path = MinkaIPC
	url = git@github.com:sophietheopossum/MinkaIPC.git
