[submodule "ShojiWM"]
	path = ShojiWM
	url = https://github.com/sophietheopossum/ShojiWM
[submodule "shoji-bar-2"]
	path = shoji-bar-2
	url = https://github.com/sophietheopossum/shoji-bar-2
[submodule "MinkaShell"]
	path = MinkaShell
	url = git@github.com:sophietheopossum/MinkaShell.git
[submodule "MinkaIPC"]
	path = MinkaIPC
	url = git@github.com:sophietheopossum/MinkaIPC.git
[submodule "MinkaFX"]
	path = MinkaFX
	url = git@github.com:sophietheopossum/MinkaFX.git
[submodule "MinkaConf"]
	path = MinkaConf
	url = git@github.com:sophietheopossum/MinkaConf.git
[submodule "xwayland-satellite"]
	path = xwayland-satellite
	url = git@github.com:sophietheopossum/xwayland-satellite.git
[submodule "MinkaMon"]
	path = MinkaMon
	url = git@github.com:sophietheopossum/MinkaMon.git
