[Desktop Entry]
Type=Application
Name=MinkaConf
GenericName=Settings
Comment=Minka desktop settings
Exec=env QT_QPA_PLATFORM=wayland qs -p /usr/share/minka/MinkaConf
Icon=preferences-system
Terminal=false
Categories=Settings;DesktopSettings;Qt;
Keywords=settings;preferences;config;display;scale;mouse;touchpad;minka;